:root {
  --primary-color: #f6e2b9;
  --secondary-color: chocolate;
}

body {
  background: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}
p {
  font-size: 20px;
}
.homepage-link,
.photo-link,
.contact-link {
  background: var(--primary-color);
  text-decoration: none;
}
a {
  color: green;
}
a:hover {
  color: var(--secondary-color);
}
